<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>Career Planning</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div class="container">
    <div style="margin-left:auto; margin-right:auto;">
      <h1 style="text-align:center;">GetBoarded on Success</h1>
      <h4 style="text-align:center;">Job Role Recommender and Job Readiness Calculator</h4>
      <hr>
    </div>

    <form action="/recommend/" id="job-form" method="POST">
      {% csrf_token %}
      <div>
        {% include 'components/skill1.html' %}
        {% include 'components/skill2.html' %}
        {% include 'components/skill3.html' %}
        {% include 'components/skill4.html' %}
        {% include 'components/skill5.html' %}
        {% include 'components/skill6.html' %}
        {% include 'components/skill7.html' %}
        <button type="button" class="registerbtn" onclick="validateForm()">Predict</button>
      </div>
    </form>
    <div style="margin-left:auto; margin-right:auto;">
      <hr>
    </div>
    <script type="application/json" id="skill1-list"></script>
    <script type="application/json" id="skill2-list"></script>
    <script type="application/json" id="skill3-list"></script>
    <script type="application/json" id="skill4-list"></script>
    <script type="application/json" id="skill5-list"></script>
    <script type="application/json" id="skill6-list"></script>
    <script type="application/json" id="skill7-list"></script>

  </div>
  <script src="/static/script.js"></script>
</body>

</html>