<div
    style="display: flex; flex-flow: row; justify-content: center; align-content: center; text-align: center; padding: 1em;">
    <label style="width: 30%" for="functionalArea">Functional Area</label>
    <div style="padding-left: 1em; width: 40%">
        <input class="list" list="functionalArea" id="functionalArea-choice" name="functionalArea"></input>
        <datalist class="data-list" id="functionalArea" theme="light" placeholder="Choose one" data-search="true">
            <option value="financial services">financial services</option>
            <option value="other">other</option>
            <option value="hr">hr</option>
            <option value="beauty / fitness / spa services">beauty / fitness / spa services</option>
            <option value="production">production</option>
            <option value="it software - mainframe">it software - mainframe</option>
            <option value="teaching">teaching</option>
            <option value="design">design</option>
            <option value="it software - embedded">it software - embedded</option>
            <option value="it software - mobile">it software - mobile</option>
            <option value="strategy">strategy</option>
            <option value="analytics & business intelligence">analytics & business intelligence</option>
            <option value="medical">medical</option>
            <option value="site engineering">site engineering</option>
            <option value="journalism">journalism</option>
            <option value="fashion designing">fashion designing</option>
            <option value="tv">tv</option>
            <option value="it software - dba">it software - dba</option>
            <option value="legal">legal</option>
            <option value="hotels">hotels</option>
            <option value="it software - erp">it software - erp</option>
            <option value="it software - qa & testing">it software - qa & testing</option>
            <option value="sales">sales</option>
            <option value="architecture">architecture</option>
            <option value="beauty/fitness/spa services">beauty/fitness/spa services</option>
            <option value="it software - telecom software">it software - telecom software</option>
            <option value="it software - other">it software - other</option>
            <option value="travel">travel</option>
            <option value="it software - ecommerce">it software - ecommerce</option>
            <option value="it software - application programming">it software - application programming</option>
            <option value="csr & sustainability">csr & sustainability</option>
            <option value="engineering design">engineering design</option>
            <option value="purchase / logistics / supply chain">purchase / logistics / supply chain</option>
            <option value="ites">ites</option>
            <option value="it software - system programming">it software - system programming</option>
            <option value="it software - middleware">it software - middleware</option>
            <option value="export">export</option>
            <option value="marketing">marketing</option>
            <option value="supply chain">supply chain</option>
            <option value="it software - client/server programming">it software - client/server programming</option>
            <option value="it hardware">it hardware</option>
            <option value="accounts">accounts</option>
            <option value="it software - network administration">it software - network administration</option>
            <option value="it software - systems">it software - systems</option>
        </datalist>
    </div>
</div>