<div
    style="display: flex; flex-flow: row; justify-content: center; align-content: center; text-align: center; padding: 1em;">
    <label style="width: 30%" for="industry">Industry</label>
    <div style="padding-left: 1em; width: 40%">
        <input class="list" list="industry" id="industry-choice" name="industry"></input>

        <datalist class="data-list" id="industry" theme="light">
            <option value="retail">retail</option>
            <option value="internet">internet</option>
            <option value="medical devices / equipments">medical devices / equipments</option>
            <option value="recruitment / staffing">recruitment / staffing</option>
            <option value="broadcasting">broadcasting</option>
            <option value="legal">legal</option>
            <option value="chemicals / petrochemical / plastic / rubber">chemicals / petrochemical / plastic / rubber
            </option>
            <option value="advertising / pr / mr / event management">advertising / pr / mr / event management</option>
            <option value="advertising">advertising</option>
            <option value="gems / jewellery">gems / jewellery</option>
            <option value="ngo / social services / regulators / industry associations">ngo / social services /
                regulators / industry associations</option>
            <option value="printing">printing</option>
            <option value="recruitment">recruitment</option>
            <option value="automobile">automobile</option>
            <option value="tyres">tyres</option>
            <option value="telcom">telcom</option>
            <option value="education / teaching / training">education / teaching / training</option>
            <option value="semiconductors">semiconductors</option>
            <option value="government">government</option>
            <option value="other">other</option>
            <option value="industrial products / heavy machinery">industrial products / heavy machinery</option>
            <option value="education">education</option>
            <option value="heat ventilation">heat ventilation</option>
            <option value="fertilizers">fertilizers</option>
            <option value="glass">glass</option>
            <option value="strategy">strategy</option>
            <option value="insurance">insurance</option>
            <option value="it-software">it-software</option>
            <option value="medical">medical</option>
            <option value="ceramics">ceramics</option>
            <option value="construction">construction</option>
            <option value="banking">banking</option>
            <option value="facility management">facility management</option>
            <option value="semiconductors / electronics">semiconductors / electronics</option>
            <option value="real estate">real estate</option>
            <option value="automobile / auto anciliary / auto components">automobile / auto anciliary / auto components
            </option>
            <option value="textiles">textiles</option>
            <option value="leather">leather</option>
            <option value="banking / financial services / broking">banking / financial services / broking</option>
            <option value="publishing">publishing</option>
            <option value="it-hardware & networking">it-hardware & networking</option>
            <option value="pharma / biotech / clinical research">pharma / biotech / clinical research</option>
            <option value="consumer electronics / appliances / durables">consumer electronics / appliances / durables
            </option>
            <option value="telecom / isp">telecom / isp</option>
            <option value="consumer electronics">consumer electronics</option>
            <option value="chemicals">chemicals</option>
            <option value="oil and gas">oil and gas</option>
            <option value="construction / engineering / cement / metals">construction / engineering / cement / metals
            </option>
            <option value="mining / quarrying">mining / quarrying</option>
            <option value="oil and gas / energy / power / infrastructure">oil and gas / energy / power / infrastructure
            </option>
            <option value="gems">gems</option>
            <option value="electricals">electricals</option>
            <option value="textiles / garments / accessories">textiles / garments / accessories</option>
            <option value="media">media</option>
            <option value="aviation / aerospace firms">aviation / aerospace firms</option>
            <option value="bpo / call centre / ites">bpo / call centre / ites</option>
            <option value="shipping">shipping</option>
            <option value="security">security</option>
            <option value="travel">travel</option>
            <option value="strategy / management consulting firms">strategy / management consulting firms</option>
            <option value="kpo / research / analytics">kpo / research / analytics</option>
            <option value="accounting">accounting</option>
            <option value="glass / glassware">glass / glassware</option>
            <option value="it-software / software services">it-software / software services</option>
            <option value="fresher">fresher</option>
            <option value="heat ventilation / air conditioning">heat ventilation / air conditioning</option>
            <option value="food processing">food processing</option>
            <option value="retail / wholesale">retail / wholesale</option>
            <option value="internet / ecommerce">internet / ecommerce</option>
            <option value="aviation">aviation</option>
            <option value="industrial products">industrial products</option>
            <option value="fmcg / foods / beverage">fmcg / foods / beverage</option>
            <option value="accounting / finance">accounting / finance</option>
            <option value="media / entertainment / internet">media / entertainment / internet</option>
            <option value="agriculture">agriculture</option>
            <option value="courier">courier</option>
            <option value="agriculture / dairy">agriculture / dairy</option>
            <option value="real estate / property">real estate / property</option>
            <option value="brewery">brewery</option>
            <option value="courier / transportation / freight / warehousing">courier / transportation / freight /
                warehousing</option>
            <option value="animation">animation</option>
            <option value="pulp and paper">pulp and paper</option>
            <option value="medical / healthcare / hospitals">medical / healthcare / hospitals</option>
            <option value="pharma">pharma</option>
            <option value="architecture">architecture</option>
            <option value="office equipment">office equipment</option>
            <option value="fmcg">fmcg</option>
            <option value="kpo">kpo</option>
            <option value="mining">mining</option>
            <option value="export">export</option>
            <option value="sugar">sugar</option>
            <option value="bpo">bpo</option>
            <option value="wellness">wellness</option>
            <option value="iron and steel">iron and steel</option>
            <option value="water treatment">water treatment</option>
            <option value="ngo">ngo</option>
            <option value="travel / hotels / restaurants / airlines / railways">travel / hotels / restaurants / airlines
                / railways</option>
        </datalist>
    </div>
</div>