*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 120%;
    line-height: 1.4;
    margin: 0 auto;
    padding: 2em;
    background-image: url('bkgd.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.list {
    width: 20em;
    height: 1.5em;
    font-size: 1.2em;
}

.data-list {
    width: 20em;
    height: 1.5em;
    font-size: 1em;
}

.data-list {
    font-size: 1.2em;
}

.registerbtn {
    background-color: #ff0000;
    color: white;
    margin: auto;
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    border: none;
    cursor: pointer;
    font-size: medium;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 20em;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
}

.registerbtn:hover {
    opacity: 1;
}

.prediction {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1em;
    border-bottom: 2px solid black;
}

.sankey {
    margin: 1em;
    border-bottom: 1px solid gray;
}

.table {
    margin: 1em;
}

.error {
    border: solid 1px red;
}