<div
    style="display: flex; flex-flow: row; justify-content: center; align-content: center; text-align: center; padding: 1em;">
    <label style="width: 30%" for="industry">Industry</label>
    <div style="padding-left: 1em; width: 40%">
        <input class="list" list="industry" id="industry-choice" name="industry"></input>

        <datalist class="data-list" id="industry" theme="light">
            <option value="Education, Teaching, Training">Education, Teaching, Training</option>
            <option value="Publishing">Publishing</option>
            <option value="Medical, Healthcare, Hospitals">Medical, Healthcare, Hospitals</option>
            <option value="Legal">Legal</option>
            <option value="Fmcg, Foods, Beverage">Fmcg, Foods, Beverage</option>
            <option value="Electricals, Switchgears">Electricals, Switchgears</option>
            <option value="It-Software, Software Services">It-Software, Software Services</option>
            <option value="Pharma, Biotech, Clinical Research">Pharma, Biotech, Clinical Research</option>
            <option value="Industrial Products, Heavy Machinery">Industrial Products, Heavy Machinery</option>
            <option value="Ceramics, Sanitary Ware">Ceramics, Sanitary Ware</option>
            <option value="Printing, Packaging">Printing, Packaging</option>
            <option value="Chemicals, Petrochemical, Plastic, Rubber">Chemicals, Petrochemical, Plastic, Rubber</option>
            <option value="Kpo, Research, Analytics">Kpo, Research, Analytics</option>
            <option value="Retail, Wholesale">Retail, Wholesale</option>
            <option value="Agriculture, Dairy">Agriculture, Dairy</option>
            <option value="Glass, Glassware">Glass, Glassware</option>
            <option value="Water Treatment, Waste Management">Water Treatment, Waste Management</option>
            <option value="Automobile, Auto Anciliary, Auto Components">Automobile, Auto Anciliary, Auto Components
            </option>
            <option value="Media, Entertainment, Internet">Media, Entertainment, Internet</option>
            <option value="Accounting, Finance">Accounting, Finance</option>
            <option value="Iron And Steel">Iron And Steel</option>
            <option value="Courier, Transportation, Freight , Warehousing">Courier, Transportation, Freight ,
                Warehousing</option>
            <option value="Security, Law Enforcement">Security, Law Enforcement</option>
            <option value="Office Equipment, Automation">Office Equipment, Automation</option>
            <option value="Broadcasting">Broadcasting</option>
            <option value="Ngo, Social Services, Regulators, Industry Associations">Ngo, Social Services, Regulators,
                Industry Associations</option>
            <option value="Banking, Financial Services, Broking">Banking, Financial Services, Broking</option>
            <option value="Strategy, Management Consulting Firms">Strategy, Management Consulting Firms</option>
            <option value="Medical Devices / Equipments">Medical Devices / Equipments</option>
            <option value="Leather">Leather</option>
            <option value="Fertilizers, Pesticides">Fertilizers, Pesticides</option>
            <option value="Heat Ventilation, Air Conditioning">Heat Ventilation, Air Conditioning</option>
            <option value="Government, Defence">Government, Defence</option>
            <option value="Travel , Hotels , Restaurants , Airlines , Railways">Travel , Hotels , Restaurants , Airlines
                , Railways</option>
            <option value="Semiconductors, Electronics">Semiconductors, Electronics</option>
            <option value="Other">Other</option>
            <option value="Aviation, Aerospace, Aeronautical">Aviation, Aerospace, Aeronautical</option>
            <option value="Advertising, Pr, Mr, Event Management">Advertising, Pr, Mr, Event Management</option>
            <option value="Recruitment, Staffing">Recruitment, Staffing</option>
            <option value="Construction, Engineering, Cement, Metals">Construction, Engineering, Cement, Metals</option>
            <option value="Facility Management">Facility Management</option>
            <option value="It-Hardware & Networking">It-Hardware & Networking</option>
            <option value="Animation, Gaming">Animation, Gaming</option>
            <option value="Pulp And Paper">Pulp And Paper</option>
            <option value="Sugar">Sugar</option>
            <option value="Food Processing">Food Processing</option>
            <option value="Tyres">Tyres</option>
            <option value="Gems, Jewellery">Gems, Jewellery</option>
            <option value="Fresher, Trainee, Entry Level">Fresher, Trainee, Entry Level</option>
            <option value="Shipping, Marine">Shipping, Marine</option>
            <option value="Real Estate, Property">Real Estate, Property</option>
            <option value="Insurance">Insurance</option>
            <option value="Consumer Electronics, Appliances, Durables">Consumer Electronics, Appliances, Durables
            </option>
            <option value="Telcom, Isp">Telcom, Isp</option>
            <option value="Export, Import">Export, Import</option>
            <option value="Textiles, Garments, Accessories">Textiles, Garments, Accessories</option>
            <option value="Wellness , Fitness , Sports, Beauty">Wellness , Fitness , Sports, Beauty</option>
            <option value="Bpo, Call Centre, Ites">Bpo, Call Centre, Ites</option>
            <option value="Brewery, Distillery">Brewery, Distillery</option>
            <option value="Mining, Quarrying">Mining, Quarrying</option>
            <option value="Architecture, Interior Design">Architecture, Interior Design</option>
            <option value="Oil And Gas, Energy, Power, Infrastructure">Oil And Gas, Energy, Power, Infrastructure
            </option>
            <option value="Internet, Ecommerce">Internet, Ecommerce</option>
        </datalist>
    </div>
</div>