<div
    style="display: flex; flex-flow: row; justify-content: center; align-content: center; text-align: center; padding: 1em;">
    <script>
    </script>
    <label style="width: 30%" for="skill7">Skill 7</label>
    <div style="padding-left: 1em; width: 40%">
        <input class="list" list="skill7-datalist" id="skill7-choice" name="skill7"
            autocomplete="off"></input>

        <datalist class="data-list" id="skill7-datalist" theme="light">

        </datalist>
    </div>
</div>