<div
    style="display: flex; flex-flow: row; justify-content: center; align-content: center; text-align: center; padding: 1em;">
    <script>
        
    </script>

    <label style="width: 30%" for="skill6">Skill 6</label>
    <div style="padding-left: 1em; width: 40%">
        <input class="list" list="skill6-datalist" id="skill6-choice" onBlur="loadSkills(event)"
            name="skill6" autocomplete="off"></input>
        <datalist class="data-list" id="skill6-datalist" theme="light" placeholder="Choose one"
            data-search="true">

        </datalist>
    </div>
</div>